<section class="classes-s3 container-fluid d-flex minh-50vh bg-light align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start text-shadow">
                <h2 class="dispaly-6 fw-bold text-white">
                    Lorem ipsum dolor
                </h2>
                <p class="text-white">
                    Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="text-white">
                            <th class="w-25">Name</th>
                            <th class="w-50">Description</th>
                            <th class="w-25">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>